.dashboard-page {
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    position: relative;
    
    h1 {
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        color: #ffd700;
    }
    
    p {
        font-size: 16px;
        color: #fff;
        font-family: sans-serif;
        margin-top: 20px;
    }
} 